.valabill {
	background-color: var(--lumo-success-color-10pct) !important;
}

.expiratt {
	background-color: var(--lumo-error-color-10pct) !important;
}

.spacewrap {
	white-space: break-spaces !important;
	overflow-y: hidden !important;
}
/*
[part~="cell"][part~="body-cell"] {
    height: calc(50px + 0.5em);
    margin-top: 0.5em;
}*/
[part~="body-cell"] {
  max-height:5em !important;
}